<div class="container">

  <div class="hero-unit">
    <h2>Your grievance has been submitted.</h2>
    <p>It will post on slandir.com very soon. Your credit card will not be charge until the review process is complete.</p>
  </div>

  <div>
    <p><%= link_to "Return Home", search_home_path, :class => "offset10 btn btn-primary btn-large" %></p>
  </div>

</div>