// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

label.error {
  display: inline;
  padding-left: 6px;
  color: red;
}

.navbar input[type="text"], input[type="password"] {
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar input[type="submit"] {
 margin-top: 8px;
 margin-bottom: 8px;
}