// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-container {
  min-height: 520px;
}

.person-image-small {
  height: 100px;
  wifht: 100px;
}

.person-image-large {
  height: 200px;
  wifht: 200px;
}