// Place all the styles related to the submit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sub-field {
  margin-left: 20px;
}

.description-text {
  resize: none;
  height: 145px;
}