<div class="container">
  <div class="row">
    <div class="span3">
      <%= render :partial => 'layouts/search' %>
    </div>
    <div class="span9">
      <div class="hero-unit">
        <h1>Welcome to Slandir</h1>
        <p>A better way to handle a dispute.</p>
        <p><%= link_to "File Grievance", submit_new_path, :class => "offset5 btn btn-primary btn-large" %></p>
      </div>
    </div>
  </div>
</div>
